

body 
{
	line-height: 1.4;
	font-family: 'Times New Roman', Times, serif;
}
p
{
	text-align: justify;
}
#page 
{
    width: 60%;
	background-color: white;
	margin: 50px auto;
	padding: 5%;
}

h1, h2, h3, h4, h5, h6 
{
  font-family: 'Voltaire', 'Oswald', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
h2, h3, h4, h5, h6
{
	font-size: 1.5rem;
    letter-spacing: 20%;
}
h2
{
	transform: scaleY(200%);
	transform: scaleX(80%);
	text-align: center;
	font-size: 4rem;
}
h4
{
	font-size: 1.2rem;
}
header>p
{
	font-family: 'Voltaire', 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
	letter-spacing: 20%;
	text-transform: uppercase;
}
header h1
{
	margin: 0;
	padding: 0;
	letter-spacing: 30%;
	font-size: 1.3rem;
	font-weight: lighter;
	border: 2px solid black;
	display: inline-block;
  	border: 2px solid black;
  	padding: 2px
}


/* Multi-column layout
-------------------------------------------------- */
main 
{
  column-count: 3;

}
main p:first-child 
{
  margin-top: 0;
}
