@charset "utf-8";

html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}

body {
	background: #CCC;
}

#content {
	background: rgb(255, 255, 255);
	width: 80%;
	margin: 0 auto;
}
main {
	background: darkgray;
	display: flow-root;
}