@charset "utf-8";


*, *::before, *::after {
	box-sizing: inherit;
}
html
{
	/* Set defualts; Text font, sizing, shawdow to make more readable  */
	font-family: 'Tangerine', cursive;
	font-size: 1.6rem;
	line-height: 1.8;
	font-weight: bold;
	letter-spacing: .1rem;
	text-shadow: 1px 1px 2px black;
	/* Center the items on page */
	justify-content: center;
	justify-items: center;
	/* Background gradient */
	background: linear-gradient(135deg, #e6e6e6 0%, #9c8299 100%);
	background-size: cover;
	box-sizing: border-box;
}
body
{
	/* Padding for content of body */
	justify-self: center;
	padding: 3rem;
}

#content 
{
	/* Main content, unique background to stand out, and sizing */
	background-color: rgba(102, 166, 196, 0.872);
	width: 80vw;
	max-width: 1750px;
	min-width: 900px;
	margin: 0 auto;
}

header 
{  
	/* Darker background using alpha channels to make bolder on page */
    border: 3px solid rgba(0, 0, 0, 0.288);
    background-color: rgba(197, 243, 245, 0.301);
}
main   
{ 
	/* Main styling */
	width: 95%;
	background: rgba(194, 224, 236, 0.486);
	border: 1px solid rgba(0, 0, 0, 0.288);
	padding: 1%;

	display: inline-block;
	justify-self: center;

}
main ::first-line
{
	/* Make first stand out */
	margin-top: 1rem;
	font-size: 1.2rem;
	color: rgb(9, 9, 19);
}
footer 
{ 
	/* Small footer area, simlar styling to headers with background */
    font-size: .8rem;
    background-color: rgba(151, 167, 168, 0.356);

}

section, article, p, h1, h2, h3, h4, h5, h6
{
	/* Borders for sections, articles, and headings */
	justify-content: center;
	text-align: center;
	border-left: 3px solid rgba(0, 0, 0, 0.027);
    border-right: 3px solid rgba(0, 0, 0, 0.027);
}
h1, h2, h3, h4, h5, h6
{
	/* New font for headings, think it goes well with the main font, just bolder */
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-shadow: 0;
    background-color: rgba(165, 187, 192, 0.568);
    margin-top: 2rem;
    border-top: 5px solid rgba(106, 137, 165, 0.418);
}
	/* Star sizings and fill */
.link-github svg
{
    height : 2.5rem;
    width: auto;
    text-align: center;
    align-items: center;
}
.link-github:hover svg
{
	height : 3.5rem;
	fill: rgb(37, 10, 36);
	text-shadow: 2px 2px 5px rgb(49, 46, 60);
}
/* Text with star */
.link-github
{
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
}
/* Make links noticable */
a 
{
	justify-self: center;
	text-align: center;
	text-decoration: none;
	color: rgb(46, 198, 190);
}
blockquote
{
	font-style: italic;
	font-size: 1.05rem;
}

/* Make lists in specific part more styled */
main ul
{
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
li
{
	/* The list stylings */
	list-style: none;
	border-radius: .5rem;
	box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.401);
	font-size: 1.1rem;
	border: 3px solid rgba(127, 20, 208, 0.288);
	margin: 1rem;
	padding: 1rem;
}
/* Was going to do every other sentence, sttled for p though */
p:nth-of-type(odd)
{
	color:rgb(34, 15, 52);
	background-color: rgba(153, 181, 205, 0.318);
}

li, p:has(+ul)
{
	
	color:rgb(34, 15, 52);
	background-color: rgba(230, 236, 194, 0.486);
}
/* This makes the links seem more like a link and not just unique text */
a:hover
{
	color: rgb(255, 0, 247);
	text-shadow: 2px 2px 5px rgb(49, 46, 60);
}