@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Box-sizing reset (https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/) */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html {
	font-family: "Open Sans", sans-serif;
}
#container {
	width: 80%;
	margin: 0 auto;
}
.tabs
{
	border: 3px solid black;
}
ul
{
	list-style: none;
}
.tabs
{
	display: none;
}
a
{
	display: inline;
}
.tabs.target
{
	display: block;
}
a
{
	text-decoration: none;
	color: black;
	font-weight: bold;
}