html
{
	margin: 2rem;
	max-width: 75rem;
	font-size: 1.5rem;
	font-family: 'Times New Roman', Times, serif;
}
[role="tabpanel"] {
	display: none;
	padding: 1rem;
	border: 3px solid black;
}

[role="tabpanel"].active 
{
	display: block;
}

[role="tablist"] 
{
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}

[role="tab"] a 
{
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	background:white;
	color: #333;
	border: 3px solid black;
	border-bottom: none;
	margin-right: .3rem;
}

[role="tab"].active a 
{
	background: white;
	font-weight: bold;
}
footer
{
	font-size: .7rem;
}